:root {
	/* base */
	font-size: 10px;
	font-family: var(--font-family-primary);
	color: var(--color-secondary);

	/* border-radius */
	--border-radius-small: 0.4rem;
	--border-radius-normal: 0.8rem;

	/* color */
	--color-primary: #019be3;
	--color-secondary300: #f6f6f6;
	--color-secondary350: #efefef;
	--color-secondary400: #e6e6e6;
	--color-secondary430: #b1b1b1;
	--color-secondary450: #707070;
	--color-secondary: #484848;
	--color-tertiary: #76b73c;
	--color-light: white;
	--color-dark: black;
	--color-error: rgb(230, 0, 0);

	/* flex-flow */
	--flex-primary: row nowrap;
	--flex-secondary: row wrap;
	--flex-tertiary: column nowrap;
	--flex-quaternary: column wrap;

	/* font-family */
	--font-family-primary: "bikoregular", sans-serif;
	--font-family-secondary: "bikobold", sans-serif;
	--font-family-tertiary: "bikolight", sans-serif;

	/* font-size */
	--font-size-small: 1.2rem;
	--font-size-normal: 1.4rem;
	--font-size-normal-extra: 1.6rem;
	--font-size-normal-large: 1.8rem;
	--font-size-large: 2rem;
	--font-size-large-extra: 2.5rem;
	--font-size-big: 3.2rem;

	/* height */
	--height-header: 7.7rem;

	/* padding */
	--padding-small: 1rem;
	--padding-normal: 1.5rem;
	--padding-container: 2.5rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 100%;
	grid-template-rows:
		auto
		1fr
		auto;
	grid-template-areas:
		"header"
		"main"
		"main_footer";
}

main {
	grid-area: main;
}

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

/* Fonts */

@font-face {
	font-family: "bikobold";
	src: url("../fonts/biko/biko_bold-webfont.woff2") format("woff2"),
		url("../fonts/biko/biko_bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "bikolight";
	src: url("../fonts/biko/biko_light-restricted-webfont.woff2") format("woff2"),
		url("../fonts/biko/biko_light-restricted-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "bikoregular";
	src: url("../fonts/biko/biko_regular-webfont.woff2") format("woff2"),
		url("../fonts/biko/biko_regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/* General Classes - Start */

.bg--light {
	background-color: var(--color-light) !important;
}

.bg--primary 
{
	background-color: var(--color-primary);
}

.bg--secondary300 {
	background-color: var(--color-secondary300);
}

.bg--secondary430 {
	background-color: var(--color-secondary430);
}

.bg--tertiary {
	background-color: var(--color-tertiary) !important;
}

.bottom_header {
	display: flex;
	height: 100%;
	align-items: flex-end;
}

.btn {
	border-radius: var(--border-radius-small);
	font-size: var(--font-size-normal-extra);
	font-family: var(--font-family-primary);
	border: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}

.btn--light {
	background-color: var(--color-light);
	color: var(--color-secondary);
}

.btn--primary {
	background-color: var(--color-primary);
	color: var(--color-light);
}

.btn--secondary {
	border: 0.1rem solid var(--color-primary);
	background-color: var(--color-light);
	color: var(--color-primary);
}

.card {
	background-color: var(--color-light);
	border-radius: var(--border-radius-small);
	padding: 2rem;
	box-shadow: #00000029 0 3px 6px;
	width: 100%;
}

.color--light {
	color: var(--color-light) !important;
}

.color--primary {
	color: var(--color-primary);
}

.color--secondary {
	color: var(--color-secondary);
}

.color--secondary430 {
	color: var(--color-secondary430);
}

.color--secondary450 {
	color: var(--color-secondary450) !important;
}

.d-block {
	display: block;
}

.d-flex {
	display: flex;
}

.d-inline {
	display: inline;
}

.d-none {
	display: none !important;
}

.dialog {
	background-color: transparent;
	border: none;
	border-radius: var(--border-radius-small);
	margin: auto;
}

.dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

.dialog_cancel {
	width: 100%;
	border-radius: 0%;
	border-bottom-right-radius: var(--border-radius-small);
}

.dialog_close {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.dialog_confirm {
	width: 100%;
	border-radius: 0%;
	border-bottom-left-radius: var(--border-radius-small);
	border-right: 0.1rem solid var(--color-light);
}

.dialog_icon {
	border-radius: 50%;
	min-width: 6.5rem;
	max-width: 6.5rem;
	height: 6.5rem;
	background-color: var(--color-primary);
	padding: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dialog_wrapper {
	background-color: var(--color-light);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius-small);
}

.dialog--primary {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: var(--border-radius-small);
	border-top-right-radius: var(--border-radius-small);
}

.error {
	margin-top: 0.5rem;
	color: var(--color-error);
	font-size: var(--font-size-normal);
}

.form {
	background-color: var(--color-light);
	border-radius: var(--border-radius-small);
}

.form_drop {
	border: #dbdee5 solid 1rem;
	background-color: #f2f4f7;
	min-height: fit-content;
}

.form_entry {
	padding: 0 !important;
	margin-bottom: 2rem;
}

.form_label {
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
}

.has-error {
	border-color: var(--color-error) !important;
}

.ht-fill {
	height: fill-available;
	height: -webkit-fill-available;
	height: -moz-fill-available;
}

.ht-12 {
	height: 12rem;
}

.ht-2d1 {
	height: 2.1rem;
}

.ht-5d2 {
	height: 5.2rem;
}

.ht-7d5 {
	height: 7.5rem;
}

.ht-11d5 {
	height: 11.5rem;
}

.ht-11d7 {
	height: 11.7rem;
}

.ht-41 {
	height: 41rem;
}

.ht-100p {
	height: 100%;
}

.input {
	font-family: var(--font-family-primary);
	font-size: var(--font-size-normal);
	border-radius: var(--border-radius-small);
	border-style: solid;
	border-width: 0.1rem;
	padding: var(--padding-small);
}

.input_primary {
	border-color: var(--color-secondary400);
}

.item {
	display: flex;
	padding: 1.5rem 2.5rem;
	align-items: center;
}

.item_icon {
	width: 4.2rem;
	height: 4.2rem;
}

.item_icon_wrapper {
	border-radius: 50%;
	min-width: 6.5rem;
	max-width: 6.5rem;
	height: 6.5rem;
	background-color: var(--color-primary);
	margin-right: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item_primary {
	flex-flow: var(--flex-primary);
}

.link {
	text-decoration: none;
	color: inherit;
}

.link_more {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 0.5rem;
}

.link_primary {
	color: var(--color-primary);
	font-size: var(--font-size-small);
}

.list {
	list-style: none;
}

.list--styled li:nth-child(odd) {
	background-color: var(--color-secondary300);
}

.list_number {
	background-color: var(--color-primary);
	width: 5rem;
	color: var(--color-light);
	padding: 0.2rem 1.5rem;
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
	text-align: right;
	margin-right: 1rem;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-d4 {
	margin-bottom: 0.4rem;
}

.mb-d8 {
	margin-bottom: 0.8rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-1d5 {
	margin-bottom: 1.5rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.ml-d5 {
	margin-left: 0.5rem;
}

.ml-1 {
	margin-left: 1rem;
}

.ml-3 {
	margin-left: 3rem;
}

.mr-d4 {
	margin-right: 0.4rem;
}

.mr-d5 {
	margin-right: 0.5rem;
}

.mr-d8 {
	margin-right: 0.8rem;
}

.mr-1 {
	margin-right: 1rem;
}

.mr-1d3 {
	margin-right: 1.3rem;
}

.mr-1d5 {
	margin-right: 1.5rem;
}

.mr-2 {
	margin-right: 2rem;
}

.mr-3 {
	margin-right: 3rem;
}

.mt-auto {
	margin-top: auto;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-d4 {
	margin-top: 0.4rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-1d3 {
	margin-top: 1.3rem;
}

.mt-1d5 {
	margin-top: 1.5rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-3 {
	margin-top: 3rem;
}

.mt-4 {
	margin-top: 4rem;
}

.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.my-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.overflow-auto {
	overflow: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.pd-0 {
	padding: 0 !important;
}

.pd-2 {
	padding: 2rem !important;
}

.pd-1d5 {
	padding: 1.5rem;
}

.pd-2d5 {
	padding: 2.5rem;
}

.pd-b-0 {
	padding-bottom: 0 !important;
}

.pd-r-2d5 {
	padding-right: 2.5rem;
}

.pd-t-0 {
	padding-top: 0 !important;
}

.subtitle
{
	font-size: var(--font-size-large-extra);
	font-family: var(--font-family-primary);
	font-weight: bold;
}

.subtitle_section {
	text-align: center;
	color: var(--color-primary);
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.subtitle_small {
	font-size: var(--font-size-normal-large);
	font-family: var(--font-family-primary);
	font-weight: bold;
}

.tab_active {
	background-color: var(--color-tertiary) !important;
	color: var(--color-light) !important;
}

.text {
	font-size: var(--font-size-normal);
	font-family: var(--font-family-primary);
}

.text_small {
	font-size: var(--font-size-small);
}

.text_regular {
	font-size: var(--font-size-normal-extra);
}

.text_large {
	font-size: var(--font-size-large);
}

.text--bold {
	font-weight: bold;
}

.text--center {
	text-align: center;
}

.text--end {
	text-align: end;
}

.text--italic {
	font-style: italic;
}

.text--justify {
	text-align: justify;
}

.text--normal {
	font-weight: normal;
}

.wd-1 {
	width: 1rem;
}

.wd-1d7 {
	width: 1.7rem;
}

.wd-1d8 {
	width: 1.8rem;
}

.wd-2 {
	width: 2rem;
}

.wd-2d3 {
	width: 2.3rem;
}

.wd-2d5 {
	width: 2.5rem;
}

.wd-3 {
	width: 3rem;
}

.wd-4 {
	width: 4rem;
}

.wd-6 {
	width: 6rem;
}

.wd-7d5 {
	width: 7.5rem;
}

.wd-11 {
	width: 11rem;
}

.wd-15 {
	width: 15rem;
}

.wd-17 {
	width: 17rem;
}

.wd-18 {
	width: 18rem;
}

.wd-31 {
	width: 31rem;
}

.wd-50p {
	width: 50%;
}

.wd-70p {
	width: 70%;
}

.wd-60p {
	width: 60%;
}

.wd-80p {
	width: 80%;
}

.wd-100p {
	width: 100%;
}
.wrapper {
	display: flex;
	height: fill-available;
	height: -webkit-fill-available;
	height: -moz-fill-available;
	padding: var(--padding-container);
	max-width: 140rem;
	margin: 0 auto;
}

.wrap--center {
	justify-content: center;
	align-items: center;
}

.wrap--end {
	justify-content: flex-end;
	align-items: center;
}

.wrap--container {
	margin-top: 3.5rem !important;
	margin-bottom: 2.5rem !important;
}

.wrap--between {
	justify-content: space-between;
	align-items: center;
}

.wrap_primary {
	flex-flow: var(--flex-primary);
}

.wrap_quaternary {
	flex-flow: var(--flex-quaternary);
}

.wrap_secondary {
	flex-flow: var(--flex-secondary);
}

.wrap_subtitle {
	padding: 0;
	margin-top: 1rem;
	margin-bottom: 2.5rem;
	justify-content: center;
	align-items: center;
}

/* General Classes - End */

/* Shared */

.employee
{
	background-color: var(--color-primary);
}

.location_subtitle,
.services_subtitle 
{
	color: var(--color-primary);
	margin-bottom: 3rem;
	margin-top: 1rem;
	text-align: center;
}

.featured_image
{
	width: 100%;
}

.location_desc {
	text-align: center;
}

/* Specific Classes - Start */

.ad {
	box-shadow: #00000029 0 3px 6px;
}

.ad:not(:last-child) {
	margin-bottom: 2.5rem;
}

.ad_bottom {
	margin-top: 2rem;
}

.ad_button {
	background-color: var(--color-primary);
	display: block;
	width: 100%;
	color: var(--color-light);
}

.ad_button:not(:last-child) {
	margin-bottom: 1rem;
}

.ad_confirmation {
	border: none;
	border-radius: var(--border-radius-small);
	width: 80%;
	margin: auto;
}

.ad_confirmation::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

.ad_container {
	display: flex;
	flex-flow: var(--flex-primary);
	margin-bottom: 2rem;
}

.ad_desc {
	font-size: 1.3rem;
	text-align: justify;
}

.ad_detail {
	background-color: var(--color-light);
	padding: 1.5rem;
	width: 100%;
	height: fill-available;
	height: -webkit-fill-available;
	height: -moz-fill-available;
}

.ad_footer {
	background-color: var(--color-primary);
	border-bottom-left-radius: var(--border-radius-small);
	border-bottom-right-radius: var(--border-radius-small);
	padding: 0.5rem;
	text-align: center;
}

.ad_header {
	margin-bottom: 1.4rem;
}

.ad_img {
	width: 7.5rem;
	margin-right: 3rem;
}

.ad_link {
	text-decoration: none;
	color: var(--color-light);
}

.ad_name {
	color: var(--color-primary);
}

.ad_place {
	font-weight: bold;
	margin-top: 0.4rem;
}

.ad_wrapper {
	background-color: var(--color-light);
	border-top-left-radius: var(--border-radius-small);
	border-top-right-radius: var(--border-radius-small);
	padding: 1.5rem;
	width: 100%;
}
.benefits_banner {
	background-image: url("../img/benefits_banner.png");
	background-position: center -8rem;
	background-size: cover;

	height: 17rem;
}

.carousel {
	background-image: url("../img/carousel_bg_mobile.png");
	background-size: cover;
	background-position: center top;
	background-color: var(--color-primary);
	height: 50rem;
}

.carousel_img {
	margin-top: 4.1rem;
	width: 24.1rem;
	height: 15.2rem;
}

.carousel_wrapper {
	display: flex;
	flex-flow: var(--flex-secondary);
	justify-content: center;
	height: fit-content;
}

.confirmation_body {
	display: flex;
	flex-flow: var(--flex-tertiary);
	align-items: center;
	justify-content: center;
}

.confirmation_cancel {
	background-color: var(--color-primary);
	width: 100%;
	border-radius: 0%;
	border-bottom-right-radius: var(--border-radius-small);
	color: var(--color-light);
}

.confirmation_confirm {
	background-color: var(--color-primary);
	width: 100%;
	border-radius: 0%;
	border-bottom-left-radius: var(--border-radius-small);
	border-right: 0.1rem solid var(--color-light);
	color: var(--color-light);
}

.confirmation_desc {
	text-align: center;
	font-weight: normal;
	color: var(--color-secondary);
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.confirmation_finish {
	padding: 0 1rem 1rem;
	background-color: var(--color-light);
	border-radius: var(--border-radius-small);
}

.confirmation_footer {
	padding: 0;
}

.confirmation_header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 1rem 1rem 0;
}

.confirmation_icon {
	border-radius: 50%;
	min-width: 6.5rem;
	max-width: 6.5rem;
	height: 6.5rem;
	background-color: var(--color-primary);
	padding: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.confirmation_name {
	color: var(--color-primary);
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.confirmation_wrapper {
	padding: 1rem;
	background-color: var(--color-light);
	display: flex;
	flex-flow: var(--flex-tertiary);
	justify-content: center;
	align-items: center;
	border-top-left-radius: var(--border-radius-small);
	border-top-right-radius: var(--border-radius-small);
}

.contact {
	background-image: url("../img//bg_medic.png");
	background-position: center;
	background-size: cover;
}

.contact_subtitle {
	text-align: center;
	width: 100%;
	font-size: var(--font-size-large);
	margin: 0.5rem 0 2rem;
}

.copyright {
	margin-top: 2rem;
	padding: 0;
}

.classifieds {
	background-color: var(--color-secondary350);
	height: max-content;
}

#classified_description {
	position: fixed;
	top: var(--height-header);
	background-color: white;
	width: 100%;
	left: -100rem;
	transition: 0.3s;
}

#classified_description.active {
	left: 0;
}

.classified_dialog_cancel {
	width: 100%;
	border-radius: 0%;
	border-bottom-right-radius: var(--border-radius-small);
}

.classified_dialog_close {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.classified_dialog_confirm {
	width: 100%;
	border-radius: 0%;
	border-bottom-left-radius: var(--border-radius-small);
	border-right: 0.1rem solid var(--color-light);
}

.employee_image
{
	width: 60%;
}

.employee_badge {
	background-color: var(--color-tertiary);
	border-radius: var(--border-radius-normal);
	color: var(--color-light);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-large-extra);
	font-weight: bold;
	margin-bottom: 2.4rem;
	margin-top: 1rem;
	padding: 0.6rem;
	text-align: center;
	width: 26rem;
}

.employee_desc {
	color: var(--color-light);
	font-size: var(--font-size-normal-extra);
	text-align: center;
}

.employee_name {
	color: var(--color-light);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-big);
	font-weight: bold;
	margin-bottom: 1.8rem;
	margin-top: 1.4rem;
	text-align: center;
}

.employee_picture
{
	display: flex;
	justify-content: center;
}

.employee_wrapper
{
	align-items: center;
	display: flex;
	flex-flow: var(--flex-quaternary);
	height: -moz-fill-available;
	height: -webkit-fill-available;
	height: fill-available;
	justify-content: center;	
	margin: 0 auto;
	max-width: 140rem;
	padding: var(--padding-container);
}

.find_us_info {
	align-items: center;
	padding: 0;
	margin-bottom: 2rem;
}

.footer_info {
	align-items: center;
	padding: 0;
	margin-bottom: 1.5rem;
}

.gallery_img_wrapper {
	flex-basis: 48%;
}

.hamburger_icon {
	color: var(--color-primary);
}

.header_logo {
	width: 15rem;
}

.featured {
	list-style: none;
	margin-bottom: 2rem;
}

.featured_cta {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-top: 0.5rem;
}

.featured_desc {
	font-size: var(--font-size-small);
}

.featured_figure {
	color: var(--color-primary);
}


.featured_icon {
	align-items: center;
	background-color: var(--color-primary);
	border-radius: 50%;
	display: flex;
	height: 6.5rem;
	justify-content: center;
	max-width: 6.5rem;
	min-width: 6.5rem;
}

.featured_item {
	align-items: center;
	display: flex;
	flex-flow: var(--flex-primary);
	padding: 1.5rem 0;
}

.featured_link {
	color: var(--color-primary);
	font-size: var(--font-size-small);
	margin-right: 0.4rem;
	text-decoration: none;
}

.featured_subtitle {
	font-size: var(--font-size-normal);
	font-family: var(--font-family-primary);
	margin-bottom: 0.4rem;
}

.featured_wrapper {
	margin-left: 1rem;
}

.invest_banner {
	background-image: url("../img/invest_banner.png");
	background-position: center;
	background-size: cover;
	height: 17rem;
}

.join_us_banner {
	background-image: url("../img/bg_hands.png");
	background-position: center;
	height: 22rem;
}

.join_us_bylaws {
	background-image: url("../img/bg_bylaws.png");
	background-position: -8rem center;
	background-size: cover;
}

.join_us_cta {
	background-image: url("../img/join_us_banner.png");
	background-position: -8rem center;
	background-size: cover;
	min-height: 12rem;
}

.join_us_cta_link {
	display: inline-block;
	width: 11rem;
	height: 3rem;
	margin-left: calc(12.5rem + 2vw);
	margin-top: 8rem;
	bottom: 0;
}

.location {
	background-image: url("../img/bg_location.png");
	background-position: center;
}

.location_header {
	flex-basis: 70rem;
}

.location_img {
	width: 100%;
	margin-top: 4rem;
}

.location_map {
	flex-basis: 60rem;
}

.location_wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.main_footer {
	grid-area: main_footer;
	margin-top: auto;
	background-color: var(--color-primary);
}

.header {
	grid-area: header;
	background-color: var(--color-light);
	position: sticky;
	top: 0;
	z-index: 1000;
}

.header_wrapper {
	padding: 2rem var(--padding-container);
	flex-flow: var(--flex-primary);
	justify-content: space-between;
	align-items: center;
}

.menu {
	position: fixed;
	top: var(--height-header);
	background-color: white;
	width: 100%;
	left: -1000rem;
	transition: 0.3s;
}

.menu.active {
	left: 0;
}

.menu_icon {
	margin-right: 1rem;
}

.menu_item {
	border-bottom: solid #f6f5fa 0.1rem;
	transition: all 0.1s ease-in-out;
	color: var(--color-secondary450);
}

.menu_item:active {
	background-color: var(--color-primary);
	color: var(--color-light) !important;
}

.menu_link {
	font-size: var(--font-size-normal-extra);
	display: block;
	padding: 2rem;
}

.menu_list {
	border-top: solid #f6f5fa 0.1rem;
}

.offers_header {
	background-image: url("../img/main_banner_classifieds.png");
	height: 12rem;
	background-size: cover;
	background-position: center;
	flex-flow: var(--flex-tertiary);
	justify-content: center;
	align-items: center;
}

.offers_menu {
	display: flex;
}

.offers_menu > li {
	color: var(--color-primary);
	background-color: var(--color-light);
	width: 50%;
	padding: 1.2rem;
	text-align: center;
}

.offers_subtitle {
	color: var(--color-light);
}

.offers_tab {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.offers_text {
	color: var(--color-light);
}

.order {
	align-items: flex-end;
	background-color: var(--color-primary);
	background-image: url("../img/order_banner.png");
	background-position: -8rem center;
	background-size: cover;
	min-height: 12rem;
}

.order_link {
	display: inline-block;
	width: 11rem;
	height: 3rem;
	margin-left: calc(12.5rem + 2vw);
	margin-top: 8rem;
	bottom: 0;
}

.our_services_list li:nth-child(odd) {
	background-color: var(--color-secondary300);
}

.overlay {
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: -200rem;
	transition: 0.3s;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
	z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

.overlay.active {
	left: 0;
}

.partner_carousel {
	width: 85%;
	align-self: center;
}

.partner_carousel_cell {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 8rem;
	border-radius: 5px;
	margin-right: 1rem;
	margin-left: 1rem;
}

.read_more_wrapper {
	margin-top: 2rem;
	padding: 0 !important;
}

.requirements_banner {
	background-image: url("../img/requirements_banner.png");
	background-position: center;
	background-size: cover;
	height: 17rem;
}

.services_banner {
	display: none;
}

.services_button {
	background-color: var(--color-primary);
	border-radius: var(--border-radius-small);
	border: none;
	color: var(--color-light);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-normal-extra);
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.services_desc {
	margin-bottom: 3rem;
	text-align: center;
}

.services_footer {
	display: flex;
}

.services_wrapper {
	display: flex;
	flex-flow: var(--flex-primary);
}

.supplies {
	flex-flow: var(--flex-quaternary);
}

.supplier {
	align-items: flex-end;
	background-color: var(--color-primary);
	background-image: url("../img/supplier_banner.png");
	background-position: -8rem center;
	background-size: cover;
	min-height: 12rem;
}

.supplier_link {
	display: inline-block;
	width: 11rem;
	height: 3rem;
	margin-left: calc(12.5rem + 2vw);
	margin-top: 8rem;
	bottom: 0;
}

.team {
	background-image: url("../img/bg_team.png");
	background-position: center;
	background-size: cover;
}

.vacancies {
	flex-flow: var(--flex-quaternary);
}

/* Specific Classes - End */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1200px) {
	:root {
		font-size: 10px;
		/* line-height */
		--height-header: 9.8rem;

		/* font-size */
		/* --font-size-small: 1.2rem; */
		--font-size-normal: 2.5rem;
		--font-size-normal-extra: 3.5rem;
		/* 
	--font-size-normal-large: 1.8rem;
	--font-size-large: 2rem; */
		--font-size-large-extra: 7rem;
		/* --font-size-big: 3.2rem; */
	}

	.location_subtitle,
	.services_subtitle {
		margin-bottom: 7rem;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		text-align: left;
		width: 31rem;
	}

	.location_desc,
	.services_desc {
		text-align: left;
	}

	.featured_desc,
	.featured_link
	{
		font-size: var(--font-size-normal);
	}

	.carousel {
		background-color: var(--color-primary);
		background-image: url("../img/carousel_bg_web.png");
		background-position: center center;
		background-size: cover;
		height: 63.7rem;
	}

	.carousel_img {
		height: 28rem;
		margin-bottom: 11rem;
		margin-right: 11rem;
		width: 46rem;
	}

	.carousel_wrapper {
		align-items: flex-end;
		display: flex;
		height: 100%;
		justify-content: flex-end;
	}

	.employee
	{
		background-image: url("../img/employee_bg_overlay.png");
		background-size: cover;
		background-position: center right;
		height: 66.8rem;
	}

	.employee_badge
	{
		font-size: var(--font-size-normal-extra);
		grid-area: employee_badge;
		justify-self: center;
		padding: 2rem 5rem;
		width: fit-content;
	}

	.employee_desc
	{
		font-size: var(--font-size-normal);
		grid-area: employee_desc;
		justify-self: center;
		padding-bottom: 5rem;
	}

	.employee_image
	{
		width: 75%;
	}

	.employee_name
	{
		font-size: 9rem;
		grid-area: employee_name;
		justify-self: center;
	}

	.employee_picture
	{
		align-self: end;
		grid-area: employee_picture;
		justify-content: flex-start;
	}

	.employee_wrapper
	{
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows:
		auto
		auto
		auto;
		grid-template-areas:
		"employee_picture employee_badge"
		"employee_picture employee_name"
		"employee_picture employee_desc";
		max-width: 140rem;
		margin: 0 auto;
		min-height: 66.8rem;
		padding: 2.5rem 2.5rem 0	
	}

	.featured_icon {
		max-width: 12.2rem;
		min-width: 12.2rem; 
	}

	.featured_item {
		margin-bottom: 3rem;
	}

	.featured_subtitle {
		font-size: var(--font-size-normal-extra);
	}

	.featured_wrapper {
		margin-left: 1.6rem;
	}

	.hamburger {
		display: none;
	}

	.header_logo {
		width: 22.6rem;
	}

	.location {
		background-color: var(--color-light);
		background-image: none;
	}

	.menu {
		background-color: white;
		left: 0;
		position: static;
		top: var(--height-header);
		transition: 0.3s;
	}

	.menu_icon {
		display: none !important;
	}

	.menu_item {
		padding: 0.5rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

	.menu_link {
		font-size: var(--font-size-large);
		padding: 1rem;
		border-bottom: 0.3rem solid transparent;
	}

	.menu_link:hover {
		color: var(--color-primary);
		border-color: var(--color-primary);
	}

	.menu_list {
		display: flex;
		justify-content: flex-end;
	}

	.order {
		background-size: cover;
		background-position: center;
		height: 23.5rem;
	}

	.order_link {
		height: 5.5rem;
		margin-left: calc(18rem + 2vw);
		margin-top: 15.5rem;
		width: 21.5rem;
	}

	.services_button {
		font-size: var(--font-size-normal);
		margin-top: 2rem;
		padding: 1rem 8rem;
		width: auto;
	}

	.services_banner {
		align-items: flex-end;
		display: flex;
		width: 53.6rem;
	}

	.services_details {
		margin-right: 15.5rem;
		padding-bottom: 2.5rem;
	}

	.services_footer {
		justify-content: flex-start;
	}

	.services_image {
		width: 53.6rem;
	}

	.services_wrapper {
		padding-bottom: 0;
	}
}
